<div class="card text-center ">
  <div class="card-header">
  </div>
  <div class="card-body">
    <footer class="bg-dark text-white py-3">
      <div class="container ">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <h5>About Us</h5>
            <ul class="list-unstyled">
              <li><a href="#">ABus on Mobile</a></li>
              <li><a href="#">Sitemap</a></li>
              <li><a href="#">Values</a></li>
              <li><a href="#">Info</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
              <li><a href="#">Bus Operator Registration</a></li>
              <li><a href="#">Agent Registration</a></li>
              <li><a href="#">Insurance Partner</a></li>
              <li><a href="#">User Agreement</a></li>
              <li><a href="#">Global Sites</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h5>Our Partners</h5>
            <ul class="list-unstyled">
              <li><a href="#">Goibibo</a></li>
              <li><a href="#">Makemytrip</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h5>Other Services</h5>
            <ul class="list-unstyled">
              <li><a href="#">Train Tickets</a></li>
              <li><a href="#">Bus Hire</a></li>
              <li><a href="#">Cab Booking</a></li>
              <li><a href="#">Tempo Traveller</a></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <p>&copy; 2023 AnkitBus All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>
</div>
