<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1500">
      <img src="/assets/indore.jpg" class="d-block w-100 h-500" alt="Bus img">
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="/assets/dewas.jpg" class="d-block w-100" alt="Bus img">
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="/assets/bhopal.jpg" class="d-block w-100" alt="Bus img">
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="/assets/ujjain.jpg" class="d-block w-100" alt="Bus img">
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
