<% if @buses.any? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Starting City</th>
        <th>Destination City</th>
        <th>Departure Time</th>
      </tr>
    </thead>
    <tbody>
      <% @buses.each do |bus| %>
        <tr>
          <td><%= bus.route.id %></td>
          <td><%= bus.starting_city %></td>
          <td><%= bus.destination_city %></td>
          <td><%= bus.departure_time %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">No buses found for this route</td>
      </tr>
    </tbody>
  </table>
<% end %>